@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

.page-wrapper {
    background-color: white;
}

.searchbar {
    background-color: #fff8cd;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    margin-left: auto;
    margin-right: auto;


}

.users {
    padding-bottom: 200px;
    background-color: white;
}

.expln {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 300px;
    background-color: #ffebcd;
}

.explH2 {
    padding-bottom: 50px;
}

.cards {
    padding-bottom: 100px;
    margin-left:150px;
    background-color: #ffebcd;
}

.homecard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 350px;
    height: 350px;
    float: left;
    margin-left: 100px;
    margin-bottom: 100px;
    background-color: whitesmoke;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    font-family: "Noto Sans TC", sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}